build:release --cxxopt="-std=c++2a" --cxxopt="-g3" --cxxopt="-Wall" --cxxopt="-fsanitize=address" --linkopt="-fsanitize=address"

build:debug --cxxopt="-std=c++2a" --cxxopt="-Wall" --cxxopt="-fsanitize=address" --linkopt="-fsanitize=address"

coverage --cxxopt="-std=c++2a"
