build:release --cxxopt="-std=c++2a" --cxxopt="-g3" --cxxopt="-Wall" --cxxopt="-fsanitize=address" --linkopt="-fsanitize=address"
build:debug --cxxopt="-std=c++2a" --cxxopt="-g0" --cxxopt="-Wall" --cxxopt="-fsanitize=address" --linkopt="-fsanitize=address"

coverage --cxxopt="-std=c++2a" --cxxopt="-g0"

build:iwyu --cxxopt="-std=c++2a" --aspects @com_github_storypku_bazel_iwyu//bazel/iwyu:iwyu.bzl%iwyu_aspect
build:iwyu --cxxopt="-std=c++2a" --output_groups=report
