# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bazel-bin
bazel-out
bazel-CPPTest
bazel-testlogs

# Clang
.clangd
compile_commands.json
external
llvm*.sh*

# Protocol Buffers
*.pb.*
/external
/bazel-*
/compile_commands.json
/.cache/

# LCOV Coverage Report
genhtml

# CMake
build
Testing/TAG
Testing/Temporary/CTestCostData.txt
Testing/Temporary/LastTest_20230831-2111.log
Testing/20230831-2111/Test.xml
Testing/Temporary/LastTest.log
